###################
# Yarn 2 (no PnP) #
###################

.yarn/*
!.yarn/cache
.yarn/cache/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

coverage
.idea

src/*.js
src/*.d.ts
src/*.map

test/*.js
test/*.d.ts
test/*.map

node_modules
*.tsbuildinfo
